MONGODB_URI=
MONGODB_DB_NAME=
NEXT_PUBLIC_SITE_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NOTIFY_EMAIL=

AUTH_SECRET=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
